<div class="container">
  <nav class="navbar navbar-default" role="navigation">
    <ul class="nav navbar-nav">
      <li>{{#link-to 'headlines'}}Home{{/link-to}}</li>
      <li>{{#link-to 'headlines'}}About{{/link-to}}</li>
      <li>{{#link-to 'headlines'}}Contact{{/link-to}}</li>
    </ul>
  </nav>

  <h1>Bustle Imposter</h1>

  <ul>
    <li>{{#link-to 'article1'}}He Never Knew What Was Coming{{/link-to}}</li>
    <li>{{#link-to 'article2'}}Hippos? Hungry and on the Loose?{{/link-to}}</li>
    <li>{{#link-to 'article3'}}Castiron Scourge{{/link-to}}</li>
    <li>{{#link-to 'article4'}}Llamas Loose in LA!{{/link-to}}</li>
  </ul>

</div>
