<div class="container">
  <nav class="navbar navbar-default" role="navigation">
    <ul class="nav navbar-nav">
      <li>{{#link-to 'headlines'}}Home{{/link-to}}</li>
      <li>{{#link-to 'headlines'}}About{{/link-to}}</li>
      <li>{{#link-to 'headlines'}}Contact{{/link-to}}</li>
    </ul>
  </nav>

  <h1>Bustle Imposter</h1>

  <ul>
    <li><a href="#">He Never Knew What Was Coming</a></li>
    <li><a href="#">Hippos? Hungry and on the Loose?</a></li>
    <li><a href="#">Castiron Scourge</a></li>
    <li><a href="#">Catlady Convention</a></li>
  </ul>

</div>
